:root {
    --primary-color: #c62828;
    --primary-color__dark: #b71c1c;
    --primary-color__light: #d32f2f;
    --text-color__light: #fff;
    --text-color__dark: #212121;
    --usable-color__white: #fff;
    --usable-color__gray: #808080;
    --usable-color__light-gray: #bdbdbd;
    --usable-color__black: #212121;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background: #eee;
}

.mt-85 {
    margin-top: 85px;
}

nav {
    position: fixed;
}

.material--navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 99999;
    padding-left: 0;
}

.header-heading {
    color: var(--usable-color__white);
    width: 100%;
    padding: 12px 8px 8px 0;
    margin: auto;
    display: flex;

}

.header-heading i {
    font-size: 35px;
    padding-right: 8px;
    padding-left: 22px;
}

.row {
    margin: 0;
}

.navbar-brand {
    font-size: 30px;
    color: var(--usable-color__white) !important;
}

.navbar-laravel {
    background: var(--primary-color);
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-icon--button {
    border: none;
    background: transparent;
    font-size: 34px;
    color: var(--usable-color__white);
    animation: none;
}

.navbar-icon--button:focus {
    outline: none;
}

.navbar-profile--image {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border-radius: 50%;
    border: 2px solid var(--usable-color__white)
}
.dropdown {
    float: left;
    overflow: hidden;
}

.card {
    margin-top: 75px;
}

.navbar-icon--button:hover {
    color: var(--usable-color__white);
    text-decoration: none;
}

.top-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 99;
    width: 100%;
    height: 70px;
    background: var(--primary-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.top-header--row {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.top-header--row__text {
    font-size: 28px;
    color: var(--usable-color__white);

}

.top-header--button {
    background: transparent;
    color: var(--usable-color__white);
    border: none;
    padding-left: 22px
}

.drawer {
    z-index: 0;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #eee;
    background: var(--usable-color__white);
    margin-top: 75px;
    visibility: hidden;
    transform: translateX(-100%);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    overflow-x: hidden;
    overflow-y: auto;
}

.drawer--active {
    visibility: visible;
    transform: translateX(0);
}

.drawer--listitem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #212121;
    width: 100%;
    padding: 15px 0 10px 22px;
    text-align: center;
    transition: .3s ease;

}

.drawer--listitem i {
    padding: 0 8px 0 0;
}

.drawer--listitem:hover {
    text-decoration: none;
    background: #f5f5f5;
    color: var(--primary-color)
}

.drawer--text {
    font-weight: 600;
    color: gray;
    font-size: 17px;
}

.paper-card {
    background: var(--usable-color__white);
    display: block;
    padding: 20px 0;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    margin: 10px 0;
}

.layout--dashboard {
    width: 100%;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.layout--fluid {
    padding-left: 250px;
}

.drawer--profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
}

.drawer--search {
    display: flex;
}

.header--profile-image {
    display: flex;
    justify-content: flex-end;
    top: 0;
}

.login--box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.login-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--usable-color__gray);
    padding: 20px 0;
}

.login-box {
    background: var(--usable-color__white);
    display: block;
    padding: 20px 0;

    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.login--box form {
    width: 100%;
    padding: 0 40px;
}

.login--box-heading {
    border-left: 5px solid var(--primary-color);
}

.login--box-heading h1 {
    padding-left: 40px;
}

.login--box-heading {
    color: var(--primary-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.login--box-heading--icon {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
}

.login--icon {
    width: 100px;
    height: 100px;
    color: var(--usable-color__white);
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .login--icon {
        display: none;
    }

    .login-heading h1 {
        font-size: 28px;
    }

    .login--box-heading h1 {
        font-size: 28px;
    }

    .login--box form {
        padding: 0 20px;
    }

    .material-input {
        font-size: 15px !important;
        margin: 25px 0 !important;
    }

    .material--button-flat {
        margin: 10px 0 !important;
        padding: 5px 0 !important;
        font-size: 22px !important;
    }

    .material--button-link {
        font-size: 15px !important;
    }

}

.login--icon i {
    font-size: 50px;
}

.material-input {
    display: block;
    width: 100%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--usable-color__gray);
    font-size: 20px;
    margin: 30px 0;
}

.material-input:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
!important;
}

.material--button-flat {
    width: 100%;
    padding: 10px 0;
    margin: 30px 0;
    background: transparent;
    border: 2px solid var(--usable-color__light-gray);
    font-size: 30px;
    color: var(--usable-color__light-gray);
    transition: .3s ease;
    cursor: pointer;
}

.material--button-flat:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.material--button-link {
    font-size: 20px;
    color: var(--usable-color__gray);

}

.modal-dialog {
    margin-top: 100px;
}

.red--button {
    background: var(--primary-color);
    border: 1px solid var(--primary-color__dark);
}

.red--button:hover {
    background: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color__dark);
}

/*====================================================================================================
                                        PROFILE CSS
=====================================================================================================*/

.profile-banner {
    margin-top: 100px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -55px;
    left: 55px;
}

.profile-icon h1 {
    margin-top: 90px;
}

.profile-icon--image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid var(--usable-color__white);
}

.profile-banner--image {
    width: 100%;
}

.button-container {
    margin-top: 90px;
}

.profile--button {
    background: transparent;
    font-size: 16px;
    padding: 8px 24px;
    border: 2px solid var(--usable-color__light-gray);
    color: var(--text-color__dark);
    transition: .2s ease;
    position: relative;
    z-index: 4;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
    outline: none;
    box-shadow: none;
}

.profile--button::after {
    content: '';
    position: absolute;
    background: var(--primary-color);
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all .4s ease;
}

.profile--button:hover::after {
    width: 100%;
}

.profile--button:hover {
    border: 2px solid var(--primary-color);
    color: var(--usable-color__white)
}

.profile--button:focus {
    outline: none;
}

.hidden {
    display: none;
}

/*====================================================================================================
                                        HOMEWORK CSS
=====================================================================================================*/
.red--icon {
    color: #080808;
    font-size: 32px;
    transition: .3s ease;
}

.red--icon:hover {
    color: var(--primary-color);
}

.red--icon i {
    font-size: 30px;
}

.tableIcon:hover {
    cursor: pointer;
    color: var(--primary-color);
    transition: .3s ease;
}

/*====================================================================================================
                                      END HOMEWORK CSS
=====================================================================================================*/

.profile--picture {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: 5px;
}

.profile--picture--small {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: 5px;
    margin-top: 10px;
}

.a-no-decoration {
    color: #080808 !important;
}

.delete--icon {
    font-size: 35px !important;
    float: right;
}

.mt-100 {
    margin-top: 100px;
}

.borderless th, .borderless td {
    border: none;
}

/*====================================================================================================
                                      ACHIEVMENT CSS
=====================================================================================================*/

.card-hover:hover {
    background: lightgrey;
    cursor: pointer;
}

/*====================================================================================================
                                      END ACHIEVMENT CSS
=====================================================================================================*/
